@page
@using Microsoft.Extensions.Options
@using SupposedlySecureApplication.Services
@model IndexModel
@inject IOptions<Secrets> Secrets

@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <p>I promise we're secure.</p>
</div>